body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(-45deg, #35C3F3 0%, #8b9fe8 20%, #e681d8 39%, #ffa9a4 76%, #FED2CE 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: rgba(255, 255, 255, 0.5);
    color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

header nav ul li:last-child {
    margin-right: 0;
}

header nav ul li a {
    color: #333;
    text-decoration: none;
}

.product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.product {
    width: 300px;
    height: 750px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    margin-top: 100px;
    background-color: white;
}

.product img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product h2 {
    margin-top: 0;
}

.product p {
    margin-bottom: 10px;
}

.product button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product button:hover {
    background-color: #0056b3;
}

.message-container {
    display: none;
    position: absolute;
    top: 85px;
    left: 0;
    right: 0;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    background: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 100%);
    z-index: 1000;
  }
  
  .alert {
    position: relative;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 10px;
    transition: all 0.3s ease;
    padding: 10px 15px;
  }
  
  .alert.alert-success {
    background-color: #d4edda;
    color: #155724;
  }
  
  .alert.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
  }
  
  .alert .btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    color: #000;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 0;
    width: 20px;
    height: 20px;
    line-height: 1;
    text-align: center;
  }
  
  .alert .btn-close:hover {
    opacity: 0.7;
  }
  
  
  